.about-section {
  margin-top: -150px;

  p {
    color: white;
    font-size: 40px;
    line-height: 1.12;
    font-weight: 600;
    opacity: 0;
    text-align: left;
    position: absolute;
    margin: auto;

    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}

#about-text {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 2vh;
  color: black;
  margin: auto;
  width: 90%;
  text-align: left;
  @media only screen and (max-width: 700px) {
    /* Mobile-specific styles go here */
    width: 90%;
  }
}
